/*
 * WoBo40 キーマップ (47キー, Mac / JIS想定)
 *
 * レイヤー構成:
 *   0: Base  - 通常入力
 *   1: Mouse - トラックボールを動かすと自動で有効化 (クリック用)
 *   2: Fn    - fnキー押下中 (数字/ファンクション/記号/ナビ + トラックボールはスクロール)
 *   3: Sys   - 左スペース隣のSYSキー押下中 (Bluetooth/リセット/メディア)
 *
 * 最下段の並び: Ctrl Opt Cmd 英数 Space SYS かな [トラボ] fn ← ↓ →
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE  0
#define MOUSE 1
#define FN    2
#define SYS   3

/ {
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "Base";
            bindings = <
&kp ESC    &kp Q     &kp W     &kp E      &kp R      &kp T        &kp Y      &kp U      &kp I      &kp O     &kp P      &kp BSPC
&kp TAB    &kp A     &kp S     &kp D      &kp F      &kp G        &kp H      &kp J      &kp K      &kp L     &kp MINUS  &kp ENTER
&kp LSHFT  &kp Z     &kp X     &kp C      &kp V      &kp B        &kp N      &kp M      &kp COMMA  &kp DOT   &kp UP     &kp RSHFT
&kp LCTRL  &kp LALT  &kp LGUI  &kp LANG2  &kp SPACE  &mo SYS      &kp LANG1             &mo FN     &kp LEFT  &kp DOWN   &kp RIGHT
            >;
        };

        mouse_layer {
            display-name = "Mouse";
            bindings = <
&trans     &trans    &trans    &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans     &trans
&trans     &trans    &trans    &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans     &trans
&trans     &trans    &trans    &trans     &trans     &trans       &trans     &mkp RCLK  &mkp MCLK  &trans     &trans     &trans
&trans     &trans    &trans    &trans     &trans     &trans       &mkp LCLK             &trans     &trans     &trans     &trans
            >;
        };

        fn_layer {
            display-name = "Fn";
            bindings = <
&kp GRAVE  &kp N1    &kp N2    &kp N3     &kp N4     &kp N5       &kp N6     &kp N7     &kp N8     &kp N9    &kp N0     &kp DEL
&trans     &kp F1    &kp F2    &kp F3     &kp F4     &kp F5       &kp F6     &kp F7     &kp F8     &kp F9    &kp F10    &trans
&trans     &kp F11   &kp F12   &kp EQUAL  &kp LBKT   &kp RBKT     &kp BSLH   &kp SEMI   &kp SQT    &kp FSLH  &kp PG_UP  &trans
&trans     &trans    &trans    &trans     &trans     &trans       &trans                &trans     &kp HOME  &kp PG_DN  &kp END
            >;
        };

        sys_layer {
            display-name = "Sys";
            bindings = <
&bt BT_CLR   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4  &none  &none       &none        &none         &none         &none
&sys_reset   &bootloader  &out OUT_USB  &out OUT_BLE &out OUT_TOG &none         &none  &none       &none        &none         &none         &studio_unlock
&trans       &none        &none         &none        &none        &none         &none  &kp C_MUTE  &kp C_VOL_DN &kp C_VOL_UP  &none         &trans
&trans       &trans       &trans        &trans       &none        &trans        &none             &trans       &kp C_PREV    &kp C_MUTE    &kp C_NEXT
            >;
        };
    };
};
